body {
  background-color: lightgrey;
  /* background-image: url('5uaqm1.gif'); */
  background-size: auto;
  background-size: cover;
  text-align: center;
  margin-top: 3%;
  color: rgb(48, 42, 42);
}

#login_signup {
  background-color: lightgrey;
  background-image: url("5uaqm1.gif");
  background-size: auto;
  background-size: cover;
  text-align: center;
  margin-top: 3%;
  color: rgb(48, 42, 42);
}

#user_main {
  padding-top: 5%;
  text-align: left;
  width: 90%;
  display: flex;
  margin: auto;
  column-gap: 4%;
}

#user_left {
  flex-basis: 50%;
  text-align: center;
}

#user_right {
  flex-basis: 50%;
  text-align: center;
}

#back_to_index {
  float: left;
}

nav {
  float: right;
  width: 100%;
}

#nav_img {
  height: 15%;
  width: 15%;
  padding: 0%;
}

nav button {
  padding: 5px;
  border-radius: 12px;
  background: linear-gradient(70deg, rgb(4, 4, 88) 60%, rgb(58, 11, 58));
  color: white;
  cursor: pointer;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

#form_square {
  width: 20%;
  padding-bottom: 0.7%;
  padding-top: 0.05%;
  background-color: white;
  border-radius: 12px;
  float: right;
  margin-right: 15%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.flashes {
  list-style-type: none;
  padding: 1px;
}

button {
  padding: 5px;
  border-radius: 12px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#showLogin {
  padding: 5px;
  border-radius: 12px;
  background-color: black;
  color: white;
}

.row #grid_image {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#movie_button {
  padding: 5px;
  border-radius: 12px;
  background-color: black;
  color: white;
  width: 100%;
  cursor: pointer;
}

#index {
  background-color: lightgrey;
  background-image: url("bg_2.gif");
  background-size: auto;
  background-size: cover;
  text-align: center;
  margin: auto;
  /*margin-top: 3%; */
  color: rgb(48, 42, 42);
}

#welcome_square {
  width: 30%;
  padding-bottom: 0.7%;
  background-color: white;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: auto;
}

#wrapDiv {
  width: 30%;
  margin: auto;
  justify-content: center;
  display: block;
  overflow: hidden;
}

#leftDiv {
  float: left;
}

#rightDiv {
  float: right;
}

.formButton {
  color: white;
  border-radius: 12px;
  background-image: linear-gradient(to bottom left, black, white);
  cursor: pointer;
}

#user {
  background-image: url("bg_3.jpg");
  background-size: cover;
}

#user_main li {
  margin-bottom: 1mm;
  margin-top: 1cm;
  font-weight: bold;
}

#user_main li {
  margin-bottom: 1mm;
  margin-top: 1cm;
  font-weight: bold;
}

#detailsAside {
  width: 90%;
  display: flex;
  margin: auto;
  column-gap: 4%;
}

#movieDetails {
  flex-basis: 50%;
  text-align: center;
}

#trailerDetails {
  flex-basis: 50%;
  text-align: center;
}

.movie_section {
  background-color: white;
  border-radius: 15px 50px 30px;
  text-shadow: 2px 2px 8px #5e61ff;
}
#quotes {
  width: 25%;
  padding-bottom: 0.7%;
  padding-top: 0.05%;
  background-color: white;
  font-size: large;

  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  margin-right: -50%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#reviewForm {
  text-align: center;
  /* margin:auto;
	display: block;
	width:inherit */
}

.listDisplay {
  text-align: center;
}

.listDisplay li {
  list-style-type: none;
}

.flashes {
  color: grey;
}
