<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Movie Details</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png' ) }}" type="image/gif">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
</head>

<header>
    <nav class=navigation>
        <a href="{{ url_for('index' ) }}"><button>Recommendations</button></a>
        <a href="{{ url_for('user' ) }}"><button>User Profile</button></a>
        <a href=" {{ url_for('logout') }}"><button>Logout</button></a>
    </nav>
</header>

<br />

<body>
    <div id="details">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% if movie_img %}
        <img src="{{movie_img}}" width=40% height=auto align=left />
        {% else %}
        <img src="/static/no_img.png" width=40% height=auto align=left />
        {% endif %}

        <h1 style="text-align:center">{{ movie_title }}</h1>
        <h3 style="text-align:center">Genre: {{ movie_genre }}</h3>

        <p><b>Description: </b>{{ movie_desc }}</p>
        <p><b>Runtime: </b>{{ movie_runtime }} mins</p>
        <p><b>Ratings: </b>{{ movie_rating }}/10</b></p>
        <p><b>Director: </b>{{ director }}</b></p>
        <b>Cast Members:</b>

        {% for k in cast %}
        <li style="list-style-type:none; display: inline">{{k}}</li>
        {{ ", " if not loop.last else "" }}
        {% endfor %}
        <br /><br />
        <div id="wrapDiv">
            <div id="leftDiv">
                <form action="/save" method="POST">
                    <input class="formButton" type="submit" onClick="savedMessage()" name="{{movie_id}}"
                        value="Save to Watchlist"></input>
                </form>
            </div>
            <div id="rightDiv">
                <form action="/ignore" method="POST">
                    <input class="formButton" type="submit" onCLick="ignoredMessage()" name="{{movie_id}}"
                        value="Ignore This Movie"></input>
                </form>
            </div>
        </div>
    </div>

    <script>
        function savedMessage() {
            alert("Movie was saved")
        }

        function ignoredMessage() {
            alert("Movie was ignored")
        }
    </script>
</body>

</html>