<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>A Basic HTML5 Template</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>


<header>
    <nav class=navigation>
        <a href={{ url_for('user' ) }}><button>User Profile</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </nav>
</header>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <br>
    <h4>Welcome!</h4>

    <div>
        Recommendations:
        <br /><br />
        <p>
            put space here for recommendations
        </p>
        <button>this button is for saving this movie</button>
        <button>this button is for disliking this movie</button>
        <br />
    </div>

    <br />
    <br />

    <form action="/searchMovie" method="post">
        Search for movies:
        <br />
        <input type="text" name="search" placeholder="Enter a movie you like" />
        <input type="submit" />
    </form>
    <br />

    <div>
        <h2>{{movie_title}}</h2>
        <h3>{{movie_genre}}</h3>
        {% if imdb_api_img %}
        <img src="{{imdb_api_img}}" width=300 height=300 />
        {% endif %}
        <button formaction="/movie"></button>
    </div>

</body>

</html>