<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Recommendations</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png' ) }}" type="image/gif">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icon.png' ) }}"
                id=nav_img></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ url_for('user') }}">
                            <div class="dropdown-menu dropdown-menu-right" href="{{ url_for('user') }}">User Profile
                                <a class="dropdown-item" href="{{ url_for('user_saved_movies') }}">Saved Movies</a>
                                <a class="dropdown-item" href="{{ url_for('user_ignored_movies') }}">Ignored Movies</a>
                            </div>
                        </a>


                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
        <!-- <a href="{{ url_for('index' ) }}"><button>Recommendations</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a> -->
    </nav>
</header>

<body id="index">
    <br /><br /><br /><br />
    <div class="col-lg-8 col-xs-12" id="welcome_square">
        <h4>Welcome!</h4>

        <form action="/searchMovie" method="post">
            <h4>Search for Movie Recommendations:</h4>
            <input type="text" name="search" placeholder="Enter a movie you like" />
            <input type="submit" />
        </form>
    </div>

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            {% for k in title_list %}
            <!-- run through more than one lists in one jinja loop -->
            <div class="col-md-4 col-xs-1">
                {% set title_list = title_list[loop.index-1] %}
                {% set rec_list = rec_list[loop.index-1] %}
                {% set movie_img_url = movie_img_url[loop.index-1] %}


                <div>

                    <div class="grid_image">
                        <!-- checks if there is pic, if no, use alternate pic -->
                        {% if movie_img_url != "https://image.tmdb.org/t/p/original" %}
                        <img src="{{movie_img_url}}" width="20%" height="20%" />
                        {% else %}
                        <img src="/static/no_img.png" width="20%" height="20%" />
                        {% endif %}
                    </div>
                    <div>
                        <form action="/details" method="POST">
                            <input type="submit" id=movie_button name="{{rec_list}}" value="{{title_list}}"></input>
                        </form>
                        <br /><br />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>