<!DOCTYPE html>

<html lang="en-us">


<head>
    <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png' ) }}" type="image/gif" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<header>
    <div id=info class="rounded glow">
        <h3 class="animate forwards">Lost for Movies? </h3>
        <h3 class="animate forwards"> Search Movie Recommendations Here!</h3>
    </div>
</header>

<body id="login_signup">

    <div id="form_square">

        <!--for flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}



        <!--signin form-->
        <h3>Please log in</h3>
        <input type="button" id="showLogin" value="Login" onclick="showDiv()" />
        <div id="login_form_square" style="display:none">
            <form method='POST' action='/login'>
                <h4>Username:</h4>
                <input type="text" class="rounded" name="username" placeholder="Enter User Name" />
                <br /><br />

                <h4>Password:</h4>
                <input type="password" class="rounded" name="password" placeholder="Enter Password" />
                <br /><br />

                <button type="submit" style="border-radius: 12px;">Login</button>
                <br /><br />
                <input type="checkbox" name="remember_me" value="" />Remember Me</label>
            </form>
        </div>
        <br /><br />
        <a href="{{ url_for('register' ) }}">No account? Register Here!</a>
        <br /><br />
        <a href="{{ url_for('reset_request' ) }}">Forget password?</a>

    </div>

    <div id=quotes>
        <p>{{random_quote}}</p>
        <!-- <p>"{{random_quote.text}}"</p>
        <p>-{{random_quote.author}}</p> -->
    </div>


    <script>

        window.addEventListener("load", function () {
            var delay = 2;
            var nodes = document.querySelectorAll
                (".animate");
            for (var i = 0; i < nodes.length; i++) {
                var words = nodes[i].innerText.split(" ");
                nodes[i].innerHTML = "";
                for (var i2 = 0; i2 < words.length; i2++) {
                    var item = document.createElement("span");
                    item.innerText = words[i2];
                    var calc = (delay + ((nodes.length + i2) / 3));
                    item.style.animationDelay = calc + "s";
                    nodes[i].appendChild(item);
                }
            }
        });

        function showDiv() {
            var showLogin = document.getElementById('showLogin');
            var showForm = document.getElementById('login_form_square').style.display = "block";

            if (showForm == 'block') {
                showLogin.style.display = 'none';
            }
            document.body.style.backgroundImage = "url(static/login_img1.jpg)";

            document.getElementById('names').style.display = "none";
        }
    </script>
    <script>
        window.addEventListener("load", function () {
            var delay = 2;
            var nodes = document.querySelectorAll
                (".animate");
            for (var i = 0; i < nodes.length; i++) {
                var words = nodes[i].innerText.split(" ");
                nodes[i].innerHTML = "";
                for (var i2 = 0; i2 < words.length; i2++) {
                    var item = document.createElement("span");
                    item.innerText = words[i2];
                    var calc = (delay + ((nodes.length + i2) / 3));
                    item.style.animationDelay = calc + "s";
                    nodes[i].appendChild(item);
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

<footer>
    <div id=names>
        <marquee onClick=showDiv()>
            <img src=/static/names.png>
        </marquee>
    </div>
</footer>

</html>