<!DOCTYPE html>

<html lang="en-us">


<head>

    <title>A Basic HTML5 Template</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<body>

    <div id=form_square>
        <p>Please log in</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <input type="button" id=showLogin value="Login" onclick="showDiv()" />
        <br />
        <div id=login_form_square style="display:none">
            <form method='POST' action='/login'>
                Username: <input type="text" name="username" placeholder="Enter User Name" />
                <br /><br />
                Password: <input type="password" name="password" placeholder="Enter Password" />
                <br /><br />
                <button type="submit">Login</button>
                <br /><br />
                <input type="checkbox" name="remember_me" value="" />Remember Me</label>
            </form>
        </div>
        <br />
        <a href={{ url_for('register' ) }}>No account? Register Here!</a>
        <br />
    </div>

    <script>
        function showDiv() {
            var showLogin = document.getElementById('showLogin');
            var showForm = document.getElementById('login_form_square').style.display = "block";

            if (showForm == 'block') {
                showLogin.style.display = 'none';
            }
            document.body.style.backgroundImage = "url(static/login_img1.jpg)";
        }
    </script>

</body>

</html>