<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>A Basic HTML5 Template</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<body>

    <p>Please log in</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method='POST' action='/login'>
        <input type="text" name="username" placeholder="Enter User Name" />
        <br />
        <input type="password" name="password" placeholder="Enter Password" />
        <br />
        <button type="submit">Submit</button>
        <input type="checkbox" name="remember_me" value="" />Remember Me</label>
    </form>
    <br />
    <a href={{ url_for('register' ) }}>No account? Register Here!</a>

</body>

</html>