<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Movie Info</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>


<header>
    <nav class=navigation>
        <a href={{ url_for('index' ) }}><button>Recommendations</button></a>
        <a href={{ url_for('user' ) }}><button>User Profile</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </nav>
</header>

<body>

    <div id=test data-internalid=580489>
        <ul onclick="showDetails(this)" ; id="owl" data-internalid="bird">Owl</ul>
    </div>
</body>

<script>
    function showDetails(moviedb_id) {
        var animalType = moviedb_id.getAttribute("internalid");
        alert("The " + moviedb_id.innerHTML + " is a " + animalType + ".");
    }

</script>

</html>