<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }} " />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>

<!-- <body id="reset"> -->

<body id=login_signup>
    <div id="form_square">
        <h3>Reset Your Password</h3>

        <!-- for flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method='POST' , action=''>
            <h5>Please enter a new password:</h5>
            <input type="password" name="password" placeholder="Enter Password" required />
            <br /><br />
            <h5>Please repeat Password:</h5>
            <input type="password" name="password2" placeholder="Repeat Password" required />
            <br /><br />
            <button type="submit" style="border-radius: 12px;">Reset Password</button>
        </form>
    </div>
    </div>
</body>

</html>