<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>User Profile</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<header>
    <nav class=navigation>
        <a href={{ url_for('index' ) }}><button>Recommendations</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </nav>
</header>

<body>
    <!-- main area -->
    <main id='user_main'>
        <!-- left column -->
        <aside id='user_left'>
            <h3>Your Current Watchlist: </h3>
            <p>
                {% for k in saved_movies_titles %}

                <li>{{k}}</li>
                <button>remove from saved</button>
                {% endfor %}
            </p>

            <br />

        </aside>
        <!-- end left column -->

        <!-- right column -->
        <aside id='user_right'>
            <h3>Movies You Ignored: </h3>
            <p>
                {% for k in ignored_movies_list %}
                <li>{{k}}</li>
                <button>remove from saved</button>
                {% endfor %}
            </p>

            <br />

        </aside>
        <!-- end right column -->

        <!-- end main area -->
    </main>
</body>

</html>