<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>User Profile</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png' ) }}" type="image/gif" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icon.png' ) }}"
                id=nav_img></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href=#>Quotes</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
        <!-- <a href="{{ url_for('index' ) }}"><button>Recommendations</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a> -->
    </nav>

</header>

<body>
    <div>
        <h3>Movies You Saved:</h3>

        {% for k in saved_movies_list_titles %}
        <!-- run through two lists in one jinja loop -->
        {% set saved_movie_imgs = saved_movie_imgs[loop.index-1] %}
        {% set saved_movies_list = saved_movies_list[loop.index-1] %}
        <li>{{k}}</li>


        <!-- checks if there is pic, if no, use alternate pic -->
        {% if saved_movie_imgs != "https://image.tmdb.org/t/p/original" %}
        <img src="{{saved_movie_imgs}}" width="300" height="300" />
        {% else %}
        <img src="/static/no_img.png" width="300" height="300" />
        {% endif %}

        <form action="/removeSaved" method="POST">
            <input class="formButton" type="submit" onClick="removedMessage()" name="{{saved_movies_list}}"
                value="Remove from Watch List"></input>
        </form>

        <br />

        {%endfor%}





        <br />

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>