<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Ignored Movies</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png' ) }}" type="image/gif" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icon.png' ) }}"
                id=nav_img></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                href="{{ url_for('user') }}">User Profile</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('user_saved_movies') }}">Saved Movies</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('user_ignored_movies') }}">Ignored
                                        Movies</a></li>

                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        </li>
        </ul>

        </div>
        <!-- <a href="{{ url_for('index' ) }}"><button>Recommendations</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a> -->
    </nav>
</header>

<body>
    <div class=listDisplay>

        <h3>Movies You Ignored: </h3>
        <br />
        <div class=container-fluid>
            <div class=row>
                <div class="card-deck">
                    {% for k in ignored_movies_list_titles %}
                    <div class="card  col-md-4 col-sm">
                        {% set ignored_movie_imgs = ignored_movie_imgs[loop.index-1] %}
                        {% set ignored_movies_list = ignored_movies_list[loop.index-1] %}

                        {% if ignored_movie_imgs != "https://image.tmdb.org/t/p/original" %}
                        <img class="rounded img-thumbnail img-fluid" src="{{ignored_movie_imgs}}" width="300"
                            height="300" />
                        {% else %}
                        <img class="rounded img-thumbnail img-fluid" src="/static/no_img.png" width="300"
                            height="300" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{k}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <form action="/removeIgnored" method="POST">
                                <input class="formButton" type="submit" onClick="removedMessage()"
                                    name="{{ignored_movies_list}}" value="Remove from Ignored List"></input>
                            </form>

                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <br />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>