<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>User Profile</title>
    <link rel="icon" href={{ url_for('static', filename='icon.png' ) }} type="image/gif">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<body>
    <!-- main area -->
    <main id='user_main'>
        <!-- left column -->
        <aside id='user_left'>
            <h3>Left column for saved</h3>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum."
                <br />
                <button>remove from saved</button>
            </p>

            <p>
                More dummy text
            </p>
        </aside>
        <!-- end left column -->

        <!-- right column -->
        <aside id='user_right'>
            <h3>Right column for Dislikes</h3>
            <p>
                More dummy text
            </p>

            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum."
            </p>
        </aside>
        <!-- end right column -->

        <!-- end main area -->
    </main>
</body>

</html>